{
  "RetreatBookmark": "home",
  "ModuleActivePermanentSetTitlePattern": ["shield booster", "armor repairer", "vestment reconstructer"],
  "CloakyCampers": ["you-wang you-wang zen", "Alpha 000 067", "JTAC022", "JTAC023", "Alpha 000 055"],
  "Anoms": "forsaken hub",
  "WarpToWithinKM": "20",
  "TargetingRangeKM": 35,
  "ArmorRetreatPercent": 20,
  "RandomSeed": 1
}
